#loginContainer {
    margin-top: 25vh;
  }

#signupContainer {
    margin-top: 25vh;
}

.formInput {
border: 1px solid rgb(210, 210, 210);
border-radius: 5px;
width: 350px;
margin-bottom: 8px;
padding: 15px;
/* outline: 2px; */
outline-color: #ea4c88;
/* outline-offset: ; */
}


.submitBtn {
    background-color: #ea4c88;
    border: #ea4c88;
    border-radius: 5px;
    color: white;
    width: 350px;
    padding: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.signup {
    font-weight: bold;
    text-decoration: none;
    color: #ea4c88;
    }


/* #username {
padding: 15px;
}

#password {
padding: 15px;
} */



#Btn {
    background-color: #ea4c88;
    border: #ea4c88;
    width: 350px;
    padding: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

